@import "reset.css";

#app {
}

.inputDiv {
  width: 25%;
  margin: 0 auto;
}

.errorMessage {
  margin: 12px 0;
  height: 16px;
  padding: 2px;
  font-size: 15px;
  color: #d35400;
  text-align: center;
}

.searchInput {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  padding: 9px;
}

.searchList {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 7px;
}

.actor {
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.actor > span {
  line-height: 15px;
}

.actor i {
  color: red;
  cursor: pointer;
}

.searchResult {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 20px;
  justify-items: center;
}
